/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  background-color: gainsboro;
  font-family: "Crimson Text", serif;
}
/* Container */
.container {
  margin: 0 auto;
  padding: 0 5%;
  width: 100%;
}
/* Header */
header {
  background-color: #085070;
  padding: 10% 0;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
}
/* Banner Image */
#banner-image img {
  width: 100%;
  height: auto;
}


/* Puppy Section Styles */
.puppy-container img {
  width: 100%;
}


/* Vertical Puppy Section */
.vertical-puppy-wraper {
  margin-top: 30px;
}


/* Footer */
footer {
  background-color: #085070;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 1rem;
  margin-top: 50px;
}

/* Media Queries for larger screens */
@media (min-width: 720px) {
  .container {
    width: 680px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .top-container {
    padding: 85px 0 65px;
  }

  .top-container .container {
    display: flex;
    justify-content: space-between;
  }

  .puppy-container {
    width: 32%;
  }

  .middle-puppy {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 0;
    background-color: lightgray;
  }

  /* Vertical Puppy Section */
  .vertical-puppy-wraper {
    display: flex;
    justify-content: space-between;
  }

  .puppy-container-vertical {
    width: 48%;
  }

  .puppy-container-vertical.left {
    margin-right: 1%;
  }

  .puppy-container-vertical.right {
    margin-left: 1%;
  }
}

@media (min-width: 1020px) {
  .container {
    width: 980px;
  }

  .puppy-container {
    width: 30%;
  }

  .top-container .container {
    justify-content: space-around;
  }

  .middle-puppy {
    font-size: 1.75rem;
  }
}
